{% extends 'generalExpense/main.html' %}

{% block content %}


<br>

<div class="row">

    <div class="col-md-5">
        <h5>Customers:</h5>
        <hr>

        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Details</a>

            <table class="table table-sm">
                <tr>
                    <th>Vehicle</th>
                    <th>Plate Number</th>
                    <th>Year Purchase</th>

                    
                </tr>

                {% for vehicle in vehicles %}
                    <tr>
                        <td>{{vehicle.name}}</td>
                        <td><a href="{% url 'customer' vehicle.id %}">{{vehicle.platenumber}}</a></td>
                        <td>{{vehicle.yearpurchase}}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Last 5 orders:</h5>
        <hr>

        <div class="card card-body">
            

            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Mileage</th>
                    <th>Date</th>

                </tr>

                {% for generalexpense in generalexpenses %}
                    <tr>
                        <td>{{generalexpense.name}}</td>
                        <td>{{generalexpense.price}}</td>
                        <td>{{generalexpense.mileage}}</td>
                        <td>{{generalexpense.description}}</td>
                    
                    </tr>
              {% endfor %}
            </table>
        </div>
    </div>
    
</div>
{% endblock %}
    
