{% extends 'generalExpense/main.html' %}

{% block content %}
<style>
.container{
    display:flex;
    justify-content:center;
    align-items:
    height:100%;
    }

.form-container{
    max-width:500px;
    margin:0 auto;
    width:100%;
    }

.form-field{
    border:1px solid #000;
    padding:10px;
    margin-bottom:10px;
    }

.form-field label{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
    }

.form-field input,
.form-field select {
    width: 100%;
    padding: 5px;
        }
</style>
    
   <div class="container">
        <div class="form-container">
            <form method='POST' action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-field mb-4">
                    {% for field in form %}
                        <div class="form-field">
                            <label for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                            {% if field.errors %}
                                <ul class="error-list">
                                    {% for error in field.errors %}
                                        <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="input" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
